<!DOCTYPE html>
<html>
    <head>
        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        
    </head>
    <body>
        <div >
            <img class="banner" src="{{ url_for('static', filename='Book-Wall.jpg') }}">
            <h1 class="gGlay" class="display-1" class="text-justify"> Welcome Bookish Fellow</h1>
            <a href="{{ url_for('login')}}">
                <span class="tranparency" id="login"> Login</span>
            </a>
            <a href="{{ url_for('signup')}}">
                <span class="tranparency" id="signup"> Signup</span>
            </a>
        </div>
    </body>
</html>