<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">
    <!-- {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }} -->

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    {%if title%}
        <title>{{title}}</title>
    {%endif %}

    <style>
        .labelDesign
        {
            font-size:160%;
            font-family: 'Times New Roman', Times, serif;
        }

    </style>

</head>
<body>
    <!-- <div class="toasterMsg">
        {{ toastr.include_toastr_js() }}
    </div> -->
    {%block content%}
    {%endblock%}
    
</body>
</html>