.container {
    position: absolute;
    top: 50%;
    left: 13%;
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    font-size: 20px;
    margin: 20px;
    padding: 60px;
    width: 150px;
    height:150px;
}

img{
    width: 150px;
    height:150px;
}