.container {
    position: absolute;
    top: 35%;
    left: 13%;
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    font-size: 20px;
    margin: 20px;
    padding: 60px;
    width: 200px;
    height:200px;
}

img{
    width: 200px;
    height:200px;
}